Picard-public.iws
.command_tmp
classes
testclasses
javadoc
dist
contracts
atlassian-ide-plugin.xml
intellij.testclasses
intellij.classes
htsjdk
.idea
target
report
jacoco.data
.gradle
build
*.swp
.vscode
# OSX file system stuff
.DS_STORE

# Jenv file to set directory java version
.java-version
