dist: trusty
language: java
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.m2
jdk:
  - oraclejdk8
  - openjdk8
before_install:
  - wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
  - sudo apt-get -qq update
  - sudo apt-get install -y --no-install-recommends r-base-dev r-recommended qpdf
script: ./gradlew jacocoTestReport
after_success:
  - ./gradlew coveralls
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
        ./gradlew uploadArchives;
    fi
