---
---
<!doctype html>
<html>
	{% include head.html title="Building Picard From Source" %}
	<body>
		<div class="wrapper">
			{% include header.html %}

            <h2>Building Picard From Source</h2>

            <section>
            <p>To build Picard from source and for any other source code-related questions, please see the <a href="https://github.com/broadinstitute/picard/blob/master/README.md"><strong>README document</strong></a> on the GitHub repository.</p>
            </section>
		</div>
		{% include footer.html %}
    </body>
</html>
