---
---
<!doctype html>
<html>
	{% include head.html title="Building Picard From Source" %}
	<body>
		<div class="wrapper">
			{% include header.html %}

			<h2>Building Picard From Source</h2>

			<section>
			See <a href="http://samtools.github.io/htsjdk/building.html">building HTSJDK from source</a>.
			</section>
				
			<a id="Prerequisites"/>
			<h3>Java version</h3>
			<section>

			<p>Building the Picard command-line utilities requires Java 1.6.  They may
			be built with the Java 1.7 compiler, but for maximum compatibility with Java 1.6 JVM,
			you should compile using the Java 1.6 libraries.  This can be done in one of the
			following ways:</p>
			<ul>
				<li>Set an environment variable JAVA6_HOME that points to your Java 1.6
				installation.</li>
				<li>Pass to ant the argument -Djava6.home=<i>path</i>, where <i>path</i> is the directory of your Java
				1.6 installation.</li>
			</ul>
			<p>If you do not have Java 1.6 installed on your build machine, you may supply the
			location of you Java 1.7 installation instead, but there may be problems running code
			compiled this way on Java 1.6 JVMs.
			</p>
			</section>

			<a id="BuildingPicardUtilities"/>
			<h3>Building Picard command-line utilities</h3>
			<section>
			<p>To build the command-line utilities, change to the root of the Picard source tree, and run the following command:</p>
			<pre>ant -lib lib/ant package-commands</pre>
			<p>This will create an executable jar called <i>picard.jar</i> in the dist subdirectory. See <a href="command-line-overview.html">this page</a>
			for how to call commands using this jar.</p>
			</section>
			<!-- END OF THE MAIN BODY  -->
		</div>
		{% include footer.html %}
	</body>
</html>
