---
---
<!doctype html>
<html>
	{% include head.html title="Overview of Picard command-line tools" %}
	<body>
		<div class="wrapper">
			{% include header.html %}

			<a id="Overview"/>
			<h2>Overview of Picard command-line tools</h2>
			<section>
			<p>The Picard command-line tools are packaged as a single executable jar file.  As of version 2.0.1 (Nov. 2015) Picard requires Java 1.8 (jdk8u66).
			 The last version to support Java 1.7 was release 1.141.  They can be invoked as follows:</p>
			<pre>java <i>jvm-args</i> -jar picard.jar <i>PicardCommandName</i> OPTION1=value1 OPTION2=value2...</pre>
			<p>Most of the commands are designed to run in 2GB of JVM, so the JVM argument -Xmx2g is
			recommended.</p>
			</section>
			<h3>Standard Options</h3>
			<section>
			<p>The following options are relevant for most Picard programs:</p>
			{% include standard-options.html %}
			</section>
			{% include command-line-usage.html %}
		</div>
		{% include footer.html %}
</body>
</html>
