---
---
<!doctype html>
<html>
{% include head.html title="Tool documentation" %}
<body>
<div class="wrapper">
	{% include header.html %}

	<h2 id="Overview">Command Line Overview</h2>
	<section>

		<p>This page provides detailed documentation on the Picard command-line syntax and standard options as well as a complete list of tools, usage recommendations, options, and example commands.</p>

		<p>See the <a href="index.html#QuickStart">Quick Start</a> documentation for instructions on how to obtain and set up the tools if you haven't already.</p>

		<h3 class='nodent' id="CommandSyntax">Command Syntax</h3>

		<p>The tools are invoked as follows:</p>
<pre>java jvm-args -jar picard.jar PicardToolName \
	OPTION1=value1 \
	OPTION2=value2
</pre>

        <p>The backslashes at the end of each line except the last are used to allow formatting the command line on multiple lines. The command above could also be written on a single line; however in the documentation we usually format command to display on multiple lines for clarity.</p>
		<p><code>jvm-args</code> are arguments that are specific to Java, not Picard. We do not provide guidance for specifying JVM (Java Virtual Machine) arguments except for specifying memory: most of the commands are designed to run in 2GB of JVM, so we recommend using the JVM argument <code>-Xmx2g</code>.</p>

		<p><code>PicardToolName</code> refers to the name of the tool you want to run. It must always be the first argument after the jar file path. Some examples include: CollectAlignmentSummaryMetrics, BuildBamIndex, and CreateSequenceDictionary. The tools and their respective options are described in detail below.</p>

		<p><code>OPTIONs</code> can be any of the Standard Options listed first below, and/or any of the tool-specific options listed for each tool. Argument values can be filenames, strings (of alphanumeric characters), enumerated values, floats (decimal numbers), integers, or boolean (true/false). Options frequently have a value that is set be default but can be modified by specifying a different value in the command line.</p>

		<p>For example, <code>INPUT=input.bam</code> specifies a file, where <code>INPUT</code> is the <code>OPTION</code> and <code>input.bam</code> is the value indicating what file to use. As another example, <code>STRANDSPECIFICITY=NONE</code> specifies the argument <code>STRANDSPECIFICITY</code> for which the documentation enumerates acceptable values: <code>NONE</code>, <code>FIRST_READ_TRANSCRIPTION_STRAND</code>, and <code>SECOND_READ_TRANSCRIPTION_STRAND</code>.</p>


        <h3 class='nodent' id="UsageExample">Usage Example</h3>

		<p>Here's a typical example where we run CollectAlignmentSummaryMetrics, a quality control tool that takes a reference file and a input file containing sequencing data, and outputs some quality control metrics.</p>
<pre>java -jar picard.jar CollectAlignmentSummaryMetrics \
	REFERENCE=my_data/reference.fasta \
	INPUT=my_data/input.bam \
	OUTPUT=results/output.txt
</pre>
		<p>Note that values for arguments that specify files must include appropriate file paths, either absolute or relative to the working directory. In this example we are reading in input data from a subdirectory called <code>my_data</code> and writing outputs to another subdirectory called <code>results</code>. </p>

    </section>

    <h2 id="StandardOptions">Standard Options</h2>
    <section>

        <p>The following standard options are relevant to most Picard tools:</p>

        {% include standard-options.html %}

    </section>

    <h2 id="Tools">Tool-Specific Documentation</h2>
    <section>
		<p>Below, you will find detailed documentation of <b>all the options that are specific to each tool</b>. Keep in mind that some tools may require one or more of the standard options listed below; this is usually specified in the tool description. For the many tools that collect quality control metrics, documentation of what the metrics mean and how they are calculated is provided on the <a href="picard-metric-definitions.html">Picard Metrics Definitions</a> page.</p>
		<p>Be sure to consult the <a href="http://broadinstitute.github.io/picard/faq.html">Frequently Asked Questions (FAQ)</a> page for useful information about typical problems you may encounter while using Picard tools.</p>
	</section>
    <div>
        {% include command-line-usage.html %}
    </div>

</div>
{% include footer.html %}
</body>
</html>
