---
---
<!doctype html>
<html>
{% include head.html title="Explain Base Qualities" %}

<script type="text/javascript">
	// minimum value, maximum value, ascii shift
	var qualValues = [
		[0,  93, 33], // Sanger
		[-5, 62, 64], // Solexa
		[0,  40, 64], // Illumina 1.3+
		[2,  40, 64], // Illumina 1.5+
		[0,  93, 33]  // Illumina 1.8+
	];
	var resultPrefix = "<strong>Result: </strong>"
	function convert(which) {
		var qualValuesIndex = -1;
		var qualFormats = document.getElementsByName('format');
		for (var i = 0; i < qualFormats.length; i++) {
			if (qualFormats[i].checked) {
				qualValuesIndex = i;
				break;
			}
		}
		var minQual         = qualValues[qualValuesIndex][0];
		var maxQual         = qualValues[qualValuesIndex][1];
		var qualShift       = qualValues[qualValuesIndex][2];
		var input           = document.getElementById('input').value;
		if (which == "ASCII to Phred") {
			var asciiQuals = input;
			var integerQuals = new Array(asciiQuals.length);
			for (var i = 0; i < asciiQuals.length; i++) {
				integerQuals[i] = Math.min(maxQual, Math.max(minQual, asciiQuals.charCodeAt(i) - qualShift));
			}
			document.getElementById('output').innerHTML = resultPrefix + integerQuals.join();
		}
		else {
			var strings = input.split(",");
			var chars = new Array(strings.length);
			for (var i = 0; i < strings.length; i++) {
				var qual = qualShift + Math.min(maxQual, Math.max(minQual, parseInt(strings[i])));
				chars[i] = String.fromCharCode(qual);
			}
			document.getElementById('output').innerHTML = resultPrefix + chars.join("");
		}
	}
</script>

<noscript>This page requires JavaScript. Please enable it in your browser settings.</noscript>

<body>
<div class="wrapper">
	{% include header.html %}

	<h2>Decoding Base Qualities</h2>
	<section>

		<p>This utility makes it easy to convert between base quality values encoded in ASCII (as recorded in a FASTQ or SAM file) and their integer values representing the Phred-scaled probability that each base call is correct (as explained <a href="https://www.broadinstitute.org/gatk/documentation/article?id=4260">here</a>).</p>

		<form onSubmit="setFormat(); return false;" action="">
			<strong>Select encoding scale: </strong><br />
			<input checked type="radio" name="format" value=0>Sanger</input>
			<input type="radio" name="format" value=1>Solexa</input>
			<input type="radio" name="format" value=2>Illumina 1.3+</input>
			<input type="radio" name="format" value=3>Illumina 1.5+</input>
			<input type="radio" name="format" value=4>Illumina 1.8+</input>
			<br />
		</form>
		<p><small>See the <a href="https://en.wikipedia.org/wiki/FASTQ_format#Encoding">FASTQ format</a> documentation for more details on encoding scales.</small></p>

		<h4>Enter the ASCII string or Phred value you want to convert in the box below:<br /><small>Multiple Phred values can be entered separated by commas.</small></h4>
		<form onSubmit="convert(this.submitted); return false;" action="">
			<textarea id="input" name="input" cols="80" rows="2"></textarea>
			<br />
			<input type=submit onclick="this.form.submitted=this.value;" value="ASCII to Phred" />
			<input type=submit onclick="this.form.submitted=this.value;" value="Phred to ASCII" />
			<br />
		</form>
		<br />
		<hr />

		<p id="output" style="word-break: break-all"></p>

	</section>

</div>
{% include footer.html %}
</body>
</html>
