<a id="AddCommentsToBam"/>
<h3>AddCommentsToBam</h3>
<section>
<p>Adds one or more comments to the header of a specified BAM file. Copies the file with the modified header to a specified output file. Note that a block copying method is used to ensure efficient transfer to the output file. SAM files are not supported</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Input BAM file to add a comment to the header  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output BAM file to write results  Required. </td></tr>
<tr><td>COMMENT (String)</td><td>Comments to add to the BAM file  Default value: null. This option may be specified 0 or more times. </td></tr>
</table>
</section>
