<h3 id="AddCommentsToBam">AddCommentsToBam</h3>
<section>
<p>Adds comments to the header of a BAM file.This tool makes a copy of the input bam file, with a modified header that includes the comments specified at the command line (prefixed by @CO). Use double quotes to wrap comments that include whitespace or special characters. <br /><br />Note that this tool cannot be run on SAM files.<br /><h4>Usage example:</h4><pre>java -jar picard.jar AddCommentsToBam \<br />      I=input.bam \<br />      O=modified_bam.bam \<br />      C=comment_1 \<br />      C="comment 2"</pre><hr /></p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Input BAM file to add a comment to the header  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output BAM file to write results  Required. </td></tr>
<tr><td>COMMENT (String)</td><td>Comments to add to the BAM file  Default value: null. This option may be specified 0 or more times. </td></tr>
</table>
</section>
