<h3 id="BamIndexStats">BamIndexStats</h3>
<section>
<p>Generate index statistics from a BAM fileThis tool calculates statistics from a BAM index (.bai) file, emulating the behavior of the "samtools idxstats" command. The statistics collected include counts of aligned and unaligned reads as well as all records with no start coordinate. The input to the tool is the BAM file name but it must be accompanied by a corresponding index file.<br /><h4>Usage example:</h4><pre>java -jar picard.jar BamIndexStats \<br />      I=input.bam \<br />      O=output</pre><hr /></p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>A BAM file to process.  Required. </td></tr>
</table>
</section>
