<a id="BedToIntervalList"/>
<h3>BedToIntervalList</h3>
<p>USAGE: BedToIntervalList [options]
<p>
<p>Documentation: http://broadinstitute.github.io/picard/command-line-overview.html#BedToIntervalList
<p>
<p>Converts a BED file to an Picard Interval List.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT=File</td><td>The input BED file  Required. </td></tr>
<tr><td>SEQUENCE_DICTIONARY=File</td><td>The sequence dictionary  Required. </td></tr>
<tr><td>OUTPUT=File</td><td>The output Picard Interval List  Required. </td></tr>
</table>
<br/>
