<h3 id="BuildBamIndex">BuildBamIndex</h3>
<section>
<p>Generates a BAM index ".bai" file.  This tool creates an index file for the input BAM that allows fast look-up of data in a BAM file, lke an index on a database. Note that this tool cannot be run on SAM files, and that the input BAM file must be sorted in coordinate order.<h4>Usage example:</h4><pre>java -jar picard.jar BuildBamIndex \<br />      I=input.bam</pre><hr /></p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (String)</td><td>A BAM file or GA4GH URL to process. Must be sorted in coordinate order.  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>The BAM index file. Defaults to x.bai if INPUT is x.bam, otherwise INPUT.bai.
If INPUT is a URL and OUTPUT is unspecified, defaults to a file in the current directory.  Default value: null. </td></tr>
</table>
</section>
