<h3 id="ClusterCrosscheckMetrics">ClusterCrosscheckMetrics</h3>
<section>
<p>Clusters the results from a CrosscheckFingerprints into groups that are connected according to a large enough LOD score.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>The cross-check metrics file to be clustered  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>Optional output file to write metrics to. Default is to write to stdout.  Default value: null. </td></tr>
<tr><td>LOD_THRESHOLD (Double)</td><td>LOD score to be used as the threshold for clustering.  Default value: 0.0. This option can be set to 'null' to clear the default value. </td></tr>
</table>
</section>
