<a id="CollectHiSeqXPfFailMetrics"/>
<h3>CollectHiSeqXPfFailMetrics</h3>
<section>
<p>USAGE: CollectHiSeqXPfFailMetrics [options]
<p>
<p>Documentation: http://broadinstitute.github.io/picard/command-line-overview.html#CollectHiSeqXPfFailMetrics
<p>
<p> program to classify PF-Failing reads in a HiSeqX Illumina Basecalling directory into categories: [EMPTY, POLYCLONAL, MISALIGNED, UNKNOWN]. The classification is based on a heuristic that was derived by looking at a few titration experiments.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>BASECALLS_DIR=File</td><td>The Illumina basecalls directory.   Required. </td></tr>
<tr><td>OUTPUT=File</td><td>Basename for metrics file. Resulting file will be &lt;OUTPUT>.pffail_summary_metrics  Required. </td></tr>
<tr><td>PROB_EXPLICIT_READS=Double</td><td>The fraction of (non-PF) reads for which to output explicit classification. Output file will be &lt;OUTPUT>.pffail_detailed_metrics (if PROB_EXPLICIT_READS != 0)  Default value: 0.0. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>LANE=Integer</td><td>Lane number.  Required. </td></tr>
<tr><td>NUM_PROCESSORS=Integer</td><td>Run this many PerTileBarcodeExtractors in parallel.  If NUM_PROCESSORS = 0, number of cores is automatically set to the number of cores available on the machine. If NUM_PROCESSORS &lt; 0 then the number of cores used will be the number available on the machine less NUM_PROCESSORS.  Default value: 1. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>N_CYCLES=Integer</td><td>Number of cycles to look at. At time of writing PF status gets determined at cycle 24 so numbers greater than this will yield strange results. In addition, PF status is currently determined at cycle 24, so running this with any other value is neither tested nor recommended.  Default value: 24. This option can be set to 'null' to clear the default value. </td></tr>
</table>
</section>
