<li><a href="command-line-overview.html#AddCommentsToBam">AddCommentsToBam</a>
<li><a href="command-line-overview.html#AddOrReplaceReadGroups">AddOrReplaceReadGroups</a>
<li><a href="command-line-overview.html#BamToBfq">BamToBfq</a>
<li><a href="command-line-overview.html#BamIndexStats">BamIndexStats</a>
<li><a href="command-line-overview.html#BedToIntervalList">BedToIntervalList</a>
<li><a href="command-line-overview.html#BuildBamIndex">BuildBamIndex</a>
<li><a href="command-line-overview.html#CalculateHsMetrics">CalculateHsMetrics</a>
<li><a href="command-line-overview.html#CleanSam">CleanSam</a>
<li><a href="command-line-overview.html#CollectAlignmentSummaryMetrics">CollectAlignmentSummaryMetrics</a>
<li><a href="command-line-overview.html#CollectBaseDistributionByCycle">CollectBaseDistributionByCycle</a>
<li><a href="command-line-overview.html#CollectGcBiasMetrics">CollectGcBiasMetrics</a>
<li><a href="command-line-overview.html#CollectInsertSizeMetrics">CollectInsertSizeMetrics</a>
<li><a href="command-line-overview.html#CollectMultipleMetrics">CollectMultipleMetrics</a>
<li><a href="command-line-overview.html#CollectTargetedPcrMetrics">CollectTargetedPcrMetrics</a>
<li><a href="command-line-overview.html#CollectRnaSeqMetrics">CollectRnaSeqMetrics</a>
<li><a href="command-line-overview.html#CollectWgsMetrics">CollectWgsMetrics</a>
<li><a href="command-line-overview.html#CompareSAMs">CompareSAMs</a>
<li><a href="command-line-overview.html#CreateSequenceDictionary">CreateSequenceDictionary</a>
<li><a href="command-line-overview.html#DownsampleSam">DownsampleSam</a>
<li><a href="command-line-overview.html#ExtractIlluminaBarcodes">ExtractIlluminaBarcodes</a>
<li><a href="command-line-overview.html#EstimateLibraryComplexity">EstimateLibraryComplexity</a>
<li><a href="command-line-overview.html#FastqToSam">FastqToSam</a>
<li><a href="command-line-overview.html#FifoBuffer">FifoBuffer</a>
<li><a href="command-line-overview.html#FilterSamReads">FilterSamReads</a>
<li><a href="command-line-overview.html#FilterVcf">FilterVcf</a>
<li><a href="command-line-overview.html#FixMateInformation">FixMateInformation</a>
<li><a href="command-line-overview.html#GatherBamFiles">GatherBamFiles</a>
<li><a href="command-line-overview.html#GatherVcfs">GatherVcfs</a>
<li><a href="command-line-overview.html#GenotypeConcordance">GenotypeConcordance</a>
<li><a href="command-line-overview.html#IlluminaBasecallsToFastq">IlluminaBasecallsToFastq</a>
<li><a href="command-line-overview.html#IlluminaBasecallsToSam">IlluminaBasecallsToSam</a>
<li><a href="command-line-overview.html#CheckIlluminaDirectory">CheckIlluminaDirectory</a>
<li><a href="command-line-overview.html#IntervalListTools">IntervalListTools</a>
<li><a href="command-line-overview.html#LiftoverVcf">LiftoverVcf</a>
<li><a href="command-line-overview.html#MakeSitesOnlyVcf">MakeSitesOnlyVcf</a>
<li><a href="command-line-overview.html#MarkDuplicates">MarkDuplicates</a>
<li><a href="command-line-overview.html#MarkDuplicatesWithMateCigar">MarkDuplicatesWithMateCigar</a>
<li><a href="command-line-overview.html#MeanQualityByCycle">MeanQualityByCycle</a>
<li><a href="command-line-overview.html#MergeBamAlignment">MergeBamAlignment</a>
<li><a href="command-line-overview.html#MergeSamFiles">MergeSamFiles</a>
<li><a href="command-line-overview.html#MergeVcfs">MergeVcfs</a>
<li><a href="command-line-overview.html#NormalizeFasta">NormalizeFasta</a>
<li><a href="command-line-overview.html#ExtractSequences">ExtractSequences</a>
<li><a href="command-line-overview.html#QualityScoreDistribution">QualityScoreDistribution</a>
<li><a href="command-line-overview.html#ReorderSam">ReorderSam</a>
<li><a href="command-line-overview.html#ReplaceSamHeader">ReplaceSamHeader</a>
<li><a href="command-line-overview.html#RevertSam">RevertSam</a>
<li><a href="command-line-overview.html#RevertOriginalBaseQualitiesAndAddMateCigar">RevertOriginalBaseQualitiesAndAddMateCigar</a>
<li><a href="command-line-overview.html#SamFormatConverter">SamFormatConverter</a>
<li><a href="command-line-overview.html#SamToFastq">SamToFastq</a>
<li><a href="command-line-overview.html#SortSam">SortSam</a>
<li><a href="command-line-overview.html#SortVcf">SortVcf</a>
<li><a href="command-line-overview.html#UpdateVcfSequenceDictionary">UpdateVcfSequenceDictionary</a>
<li><a href="command-line-overview.html#VcfFormatConverter">VcfFormatConverter</a>
<li><a href="command-line-overview.html#MarkIlluminaAdapters">MarkIlluminaAdapters</a>
<li><a href="command-line-overview.html#SplitVcfs">SplitVcfs</a>
<li><a href="command-line-overview.html#ValidateSamFile">ValidateSamFile</a>
<li><a href="command-line-overview.html#ViewSam">ViewSam</a>
<li><a href="command-line-overview.html#VcfToIntervalList">VcfToIntervalList</a>
