<!--#include virtual="AddCommentsToBam.html" -->
<!--#include virtual="AddOrReplaceReadGroups.html" -->
<!--#include virtual="BamToBfq.html" -->
<!--#include virtual="BamIndexStats.html" -->
<!--#include virtual="BedToIntervalList.html" -->
<!--#include virtual="BuildBamIndex.html" -->
<!--#include virtual="CalculateHsMetrics.html" -->
<!--#include virtual="CleanSam.html" -->
<!--#include virtual="CollectAlignmentSummaryMetrics.html" -->
<!--#include virtual="CollectBaseDistributionByCycle.html" -->
<!--#include virtual="CollectGcBiasMetrics.html" -->
<!--#include virtual="CollectInsertSizeMetrics.html" -->
<!--#include virtual="CollectMultipleMetrics.html" -->
<!--#include virtual="CollectTargetedPcrMetrics.html" -->
<!--#include virtual="CollectRnaSeqMetrics.html" -->
<!--#include virtual="CollectWgsMetrics.html" -->
<!--#include virtual="CompareSAMs.html" -->
<!--#include virtual="CreateSequenceDictionary.html" -->
<!--#include virtual="DownsampleSam.html" -->
<!--#include virtual="ExtractIlluminaBarcodes.html" -->
<!--#include virtual="EstimateLibraryComplexity.html" -->
<!--#include virtual="FastqToSam.html" -->
<!--#include virtual="FifoBuffer.html" -->
<!--#include virtual="FilterSamReads.html" -->
<!--#include virtual="FixMateInformation.html" -->
<!--#include virtual="GatherBamFiles.html" -->
<!--#include virtual="IlluminaBasecallsToFastq.html" -->
<!--#include virtual="IlluminaBasecallsToSam.html" -->
<!--#include virtual="CheckIlluminaDirectory.html" -->
<!--#include virtual="IntervalListTools.html" -->
<!--#include virtual="MakeSitesOnlyVcf.html" -->
<!--#include virtual="MarkDuplicates.html" -->
<!--#include virtual="MeanQualityByCycle.html" -->
<!--#include virtual="MergeBamAlignment.html" -->
<!--#include virtual="MergeSamFiles.html" -->
<!--#include virtual="MergeVcfs.html" -->
<!--#include virtual="NormalizeFasta.html" -->
<!--#include virtual="ExtractSequences.html" -->
<!--#include virtual="QualityScoreDistribution.html" -->
<!--#include virtual="ReorderSam.html" -->
<!--#include virtual="ReplaceSamHeader.html" -->
<!--#include virtual="RevertSam.html" -->
<!--#include virtual="RevertOriginalBaseQualitiesAndAddMateCigar.html" -->
<!--#include virtual="SamFormatConverter.html" -->
<!--#include virtual="SamToFastq.html" -->
<!--#include virtual="SortSam.html" -->
<!--#include virtual="VcfFormatConverter.html" -->
<!--#include virtual="MarkIlluminaAdapters.html" -->
<!--#include virtual="SplitVcfs.html" -->
<!--#include virtual="ValidateSamFile.html" -->
<!--#include virtual="ViewSam.html" -->
