{% include AddCommentsToBam.html %}
{% include AddOrReplaceReadGroups.html %}
{% include BaitDesigner.html %}
{% include BamToBfq.html %}
{% include BamIndexStats.html %}
{% include BedToIntervalList.html %}
{% include BuildBamIndex.html %}
{% include CalculateHsMetrics.html %}
{% include CollectHsMetrics.html %}
{% include CalculateReadGroupChecksum.html %}
{% include CleanSam.html %}
{% include CollectAlignmentSummaryMetrics.html %}
{% include CollectBaseDistributionByCycle.html %}
{% include CollectGcBiasMetrics.html %}
{% include CollectHiSeqXPfFailMetrics.html %}
{% include CollectHsMetrics.html %}
{% include CollectIlluminaBasecallingMetrics.html %}
{% include CollectIlluminaLaneMetrics.html %}
{% include CollectInsertSizeMetrics.html %}
{% include CollectJumpingLibraryMetrics.html %}
{% include CollectMultipleMetrics.html %}
{% include CollectOxoGMetrics.html %}
{% include CollectQualityYieldMetrics.html %}
{% include CollectRawWgsMetrics.html %}
{% include CollectTargetedPcrMetrics.html %}
{% include CollectRnaSeqMetrics.html %}
{% include CollectRrbsMetrics.html %}
{% include CollectSequencingArtifactMetrics.html %}
{% include CollectVariantCallingMetrics.html %}
{% include CollectWgsMetrics.html %}
{% include CollectWgsMetricsFromQuerySorted.html %}
{% include CollectWgsMetricsFromSampledSites.html %}
{% include CompareMetrics.html %}
{% include CompareSAMs.html %}
{% include ConvertSequencingArtifactToOxoG.html %}
{% include CreateSequenceDictionary.html %}
{% include DownsampleSam.html %}
{% include ExtractIlluminaBarcodes.html %}
{% include EstimateLibraryComplexity.html %}
{% include FastqToSam.html %}
{% include FifoBuffer.html %}
{% include FilterSamReads.html %}
{% include FilterVcf.html %}
{% include FixMateInformation.html %}
{% include GatherBamFiles.html %}
{% include GatherVcfs.html %}
{% include GenotypeConcordance.html %}
{% include IlluminaBasecallsToFastq.html %}
{% include IlluminaBasecallsToSam.html %}
{% include CheckIlluminaDirectory.html %}
{% include CheckTerminatorBlock.html %}
{% include IntervalListTools.html %}
{% include LiftOverIntervalList.html %}
{% include LiftoverVcf.html %}
{% include MakeSitesOnlyVcf.html %}
{% include MarkDuplicates.html %}
{% include MarkDuplicatesWithMateCigar.html %}
{% include MeanQualityByCycle.html %}
{% include MergeBamAlignment.html %}
{% include MergeSamFiles.html %}
{% include MergeVcfs.html %}
{% include NormalizeFasta.html %}
{% include PositionBasedDownsampleSam.html %}
{% include ExtractSequences.html %}
{% include QualityScoreDistribution.html %}
{% include RenameSampleInVcf.html %}
{% include ReorderSam.html %}
{% include ReplaceSamHeader.html %}
{% include RevertSam.html %}
{% include RevertOriginalBaseQualitiesAndAddMateCigar.html %}
{% include SamFormatConverter.html %}
{% include SamToFastq.html %}
{% include ScatterIntervalsByNs.html %}
{% include SortSam.html %}
{% include SortVcf.html %}
{% include SplitSamByLibrary.html %}
{% include UpdateVcfSequenceDictionary.html %}
{% include VcfFormatConverter.html %}
{% include MarkIlluminaAdapters.html %}
{% include SplitVcfs.html %}
{% include ValidateSamFile.html %}
{% include ViewSam.html %}
{% include VcfToIntervalList.html %}
