<a id="DownsampleSam"/>
<h3>DownsampleSam</h3>
<section>
<p>Randomly down-sample a SAM or BAM file to retain only a subset of the reads in the file. All reads for a templates are kept or discarded as a unit, with the goal of retaining readsfrom PROBABILITY * input templates. While this will usually result in approximately PROBABILITY * input reads being retained also, for very small PROBABILITIES this may not be the case.
A number of different downsampling strategies are supported using the STRATEGY option:

ConstantMemory: Downsamples a stream or file of SAMRecords using a hash-projection strategy such that it can run in constant memory. The downsampling is stochastic, and therefore the actual retained proportion will vary around the requested proportion. Due to working in fixed memory this strategy is good for large inputs, and due to the stochastic nature the accuracy of this strategy is highest with a high number of output records, and diminishes at low output volumes.

HighAccuracy: Attempts (but does not guarantee) to provide accuracy up to a specified limit. Accuracy is defined as emitting a proportion of reads as close to the requested proportion as possible. In order to do so this strategy requires memory that is proportional to the number of template names in the incoming stream of reads, and will thus require large amounts of memory when running on large input files.

Chained: Attempts to provide a compromise strategy that offers some of the advantages of both the ConstantMemory and HighAccuracy strategies. Uses a ConstantMemory strategy to downsample the incoming stream to approximately the desired proportion, and then a HighAccuracy strategy to finish. Works in a single pass, and will provide accuracy close to (but often not as good as) HighAccuracy while requiring memory proportional to the set of reads emitted from the ConstantMemory strategy to the HighAccuracy strategy. Works well when downsampling large inputs to small proportions (e.g. downsampling hundreds of millions of reads and retaining only 2%. Should be accurate 99.9% of the time when the input contains >= 50,000 templates (read names). For smaller inputs, HighAccuracy is recommended instead.
</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>The input SAM or BAM file to downsample.  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>The output, downsampled, SAM or BAM file to write.  Required. </td></tr>
<tr><td>STRATEGY (Strategy)</td><td>The downsampling strategy to use. See usage for discussion.  Default value: ConstantMemory. This option can be set to 'null' to clear the default value. Possible values: {HighAccuracy, ConstantMemory, Chained} </td></tr>
<tr><td>RANDOM_SEED (Integer)</td><td>Random seed to use if reproducibilty is desired.  Setting to null will cause multiple invocations to produce different results.  Default value: 1. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>PROBABILITY (Double)</td><td>The probability of keeping any individual read, between 0 and 1.  Default value: 1.0. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>ACCURACY (Double)</td><td>The accuracy that the downsampler should try to achieve if the selected strategy supports it. Note that accuracy is never guaranteed, but some strategies will attempt to provide accuracy within the requested bounds.Higher accuracy will generally require more memory.  Default value: 1.0E-4. This option can be set to 'null' to clear the default value. </td></tr>
</table>
</section>
