<a id="ExtractSequences"/>
<h3>ExtractSequences</h3>
<section>
<p>Extracts one or more intervals described in an interval_list file from a given reference sequence and writes them out in FASTA format. Requires a fasta index file to be present.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INTERVAL_LIST (File)</td><td>Interval list describing intervals to be extracted from the reference sequence.  Required. </td></tr>
<tr><td>REFERENCE_SEQUENCE (File)</td><td>Reference sequence file.  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output fasta file.  Required. </td></tr>
<tr><td>LINE_LENGTH (Integer)</td><td>Maximum line length for sequence data.  Default value: 80. This option can be set to 'null' to clear the default value. </td></tr>
</table>
</section>
