<a id="FifoBuffer"/>
<h3>FifoBuffer</h3>
<section>
<p>Provides a large, configurable, FIFO buffer that can be used to buffer input and output streams between programs with a buffer size that is larger than that offered by native unix FIFOs (usually 64k).</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>BUFFER_SIZE (Integer)</td><td>The size of the memory buffer in bytes.  Default value: 536870912. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>IO_SIZE (Integer)</td><td>The size, in bytes, to read/write atomically to the input and output streams.  Default value: 65536. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>DEBUG_FREQUENCY (Integer)</td><td>How frequently, in seconds, to report debugging statistics. Set to zero for never.  Default value: 0. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>NAME (String)</td><td>Name to use for Fifo in debugging statements.  Default value: null. </td></tr>
</table>
</section>
