<a id="FilterSamReads"/>
<h3>FilterSamReads</h3>
<section>
<p>Produces a new SAM or BAM file by including or excluding aligned reads or a list of reads names supplied in the READ_LIST_FILE from the INPUT SAM or BAM file.
</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>The SAM or BAM file that will be filtered.  Required. </td></tr>
<tr><td>FILTER (Filter)</td><td>Filter.  Required. Possible values: {includeAligned [OUTPUT SAM/BAM will contain aligned reads only. INPUT SAM/BAM must be in queryname SortOrder. (Note that *both* first and second of paired reads must be aligned to be included in the OUTPUT SAM or BAM)], excludeAligned [OUTPUT SAM/BAM will contain un-mapped reads only. INPUT SAM/BAM must be in queryname SortOrder. (Note that *both* first and second of pair must be aligned to be excluded from the OUTPUT SAM or BAM)], includeReadList [OUTPUT SAM/BAM will contain reads that are supplied in the READ_LIST_FILE file], excludeReadList [OUTPUT bam will contain reads that are *not* supplied in the READ_LIST_FILE file]} </td></tr>
<tr><td>READ_LIST_FILE (File)</td><td>Read List File containing reads that will be included or excluded from the OUTPUT SAM or BAM file.  Default value: null. </td></tr>
<tr><td>SORT_ORDER (SortOrder)</td><td>SortOrder of the OUTPUT SAM or BAM file, otherwise use the SortOrder of the INPUT file.  Default value: null. Possible values: {unsorted, queryname, coordinate, duplicate} </td></tr>
<tr><td>WRITE_READS_FILES (Boolean)</td><td>Create .reads files (for debugging purposes)  Default value: true. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>OUTPUT (File)</td><td>SAM or BAM file to write read excluded results to  Required. </td></tr>
</table>
</section>
