<h3 id="GatherBamFiles">GatherBamFiles</h3>
<section>
<p>Concatenate one or more BAM files as efficiently as possibleThis tool performs a rapid "gather" operation on BAM files after scatter operations where the same process has been performed on different regions of a BAM file creating many smaller BAM files that now need to be concatenated (reassembled) back together.<br /><br />Assumes that the list of BAM files provided as INPUT are in the order that they should be concatenated and simply concatenates the bodies of the BAM files while retaining the header from the first file.  Operates via copying of the gzip blocks directly for speed but also supports generation of an MD5 on the output and indexing of the output BAM file. Only supports BAM files, does not support SAM files.<h4>Usage example:</h4><pre>java -jar picard.jar GatherBamFiles \<br />      I=input1.bam \ <br />      I=input2.bam \ <br />      O=gathered_files.bam</pre> <hr /></p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Two or more BAM files or text files containing lists of BAM files (one per line).  Default value: null. This option may be specified 0 or more times. </td></tr>
<tr><td>OUTPUT (File)</td><td>The output BAM file to write.  Required. </td></tr>
</table>
</section>
