<a id="GatherVcfs"/>
<h3>GatherVcfs</h3>
<section>
<p>Gathers multiple VCF files from a scatter operation into a single VCF file. Input files must be supplied in genomic order and must not have events at overlapping positions.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Input VCF file(s).  Default value: null. This option may be specified 0 or more times. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output VCF file.  Required. </td></tr>
</table>
</section>
