			<header>
			<h1><a href="index.html">Picard</a></h1>
			<p><a href="https://travis-ci.org/broadinstitute/picard"><img src="https://travis-ci.org/broadinstitute/picard.svg?branch=master" alt="Build Status"></a></p>
			<p>A set of command line tools (in Java) for manipulating high-throughput sequencing (HTS) data and formats such as SAM/BAM/CRAM and VCF.</p>
			<p class="view"><a href="https://github.com/broadinstitute/picard">View the Project on GitHub <small>broadinstitute/picard</small></a></p>
			<ul>
				<li><a href="https://github.com/broadinstitute/picard/releases/latest">Latest Jar <strong>Release</strong></a></li>
				<li><a href="https://github.com/broadinstitute/picard/zipball/master">Source Code <strong>ZIP File</strong></a></li>
				<li><a href="https://github.com/broadinstitute/picard/tarball/master">Source Code <strong>TAR Ball</strong></a></li>
				<li><a href="https://github.com/broadinstitute/picard">View On <strong>GitHub</strong></a></li>
			</ul>
			</header>
