<a id="MergeVcfs"/>
<h3>MergeVcfs</h3>
<section>
<p>Merges multiple VCF or BCF files into one VCF file. Input files must be sorted by their contigs and, within contigs, by start position. The input files must have the same sample and contig lists. An index file is created and a sequence dictionary is required by default.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>VCF or BCF input files File format is determined by file extension.  Default value: null. This option must be specified at least 1 times. </td></tr>
<tr><td>OUTPUT (File)</td><td>The merged VCF or BCF file. File format is determined by file extension.  Required. </td></tr>
<tr><td>SEQUENCE_DICTIONARY (File)</td><td>The index sequence dictionary to use instead of the sequence dictionary in the input file  Default value: null. </td></tr>
</table>
</section>
