<a id="MergeSamFiles"/>
<h3>MergeSamFiles</h3>
<section>
<p>Merges multiple SAM/BAM files into one file.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>SAM or BAM input file  Default value: null. This option must be specified at least 1 times. </td></tr>
<tr><td>OUTPUT (File)</td><td>SAM or BAM file to write merged result to  Required. </td></tr>
<tr><td>SORT_ORDER (SortOrder)</td><td>Sort order of output file  Default value: coordinate. This option can be set to 'null' to clear the default value. Possible values: {unsorted, queryname, coordinate, duplicate} </td></tr>
<tr><td>ASSUME_SORTED (Boolean)</td><td>If true, assume that the input files are in the same sort order as the requested output sort order, even if their headers say otherwise.  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>MERGE_SEQUENCE_DICTIONARIES (Boolean)</td><td>Merge the sequence dictionaries  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>USE_THREADING (Boolean)</td><td>Option to create a background thread to encode, compress and write to disk the output file. The threaded version uses about 20% more CPU and decreases runtime by ~20% when writing out a compressed BAM file.  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>COMMENT (String)</td><td>Comment(s) to include in the merged output file's header.  Default value: null. This option may be specified 0 or more times. </td></tr>
</table>
</section>
