<head>
  <title>Picard Metrics Definitions</title>
  <style>
    body { font-family: Arial; background-color: white; font-size: 10pt; }
    h2 { color: red; }
    .class_description { font-style: italic; }
    .metric_column_def { padding-bottom: 0px; margin-bottom: 8px; }
    .metric_column_def span { font-weight: bold; color: #222222; font-style: italic; }
  </style>
</head>
<h1>Picard Metrics Definitions</h1>
<h2>Table Of Contents</h2>
<ol>
<li><a href="#AlignmentSummaryMetrics">AlignmentSummaryMetrics</a>: High level metrics about the alignment of reads within a SAM file, produced by
 the CollectAlignmentSummaryMetrics program and usually stored in a file with
 the extension ".alignment_summary_metrics".</li>
<li><a href="#BaseDistributionByCycleMetrics">BaseDistributionByCycleMetrics</a>: </li>
<li><a href="#CollectWgsMetrics.WgsMetrics">CollectWgsMetrics.WgsMetrics</a>: Metrics for evaluating the performance of whole genome sequencing experiments.</li>
<li><a href="#DuplicationMetrics">DuplicationMetrics</a>: Metrics that are calculated during the process of marking duplicates
 within a stream of SAMRecords.</li>
<li><a href="#ExtractIlluminaBarcodes.BarcodeMetric">ExtractIlluminaBarcodes.BarcodeMetric</a>: Metrics produced by the ExtractIlluminaBarcodes program that is used to parse data in
 the basecalls directory and determine to which barcode each read should be assigned.</li>
<li><a href="#GcBiasDetailMetrics">GcBiasDetailMetrics</a>: Class that holds detailed metrics about reads that fall within windows of a certain
 GC bin on the reference genome.</li>
<li><a href="#GcBiasSummaryMetrics">GcBiasSummaryMetrics</a>: High level metrics that capture how biased the coverage in a certain lane is.</li>
<li><a href="#HsMetrics">HsMetrics</a>: The set of metrics captured that are specific to a hybrid selection analysis.</li>
<li><a href="#InsertSizeMetrics">InsertSizeMetrics</a>: Metrics about the insert size distribution of a paired-end library, created by the
 CollectInsertSizeMetrics program and usually written to a file with the extension
 ".insert_size_metrics".</li>
<li><a href="#MultilevelMetrics">MultilevelMetrics</a>: </li>
<li><a href="#RnaSeqMetrics">RnaSeqMetrics</a>: Metrics about the alignment of RNA-seq reads within a SAM file to genes, produced by the CollectRnaSeqMetrics
 program and usually stored in a file with the extension ".rna_metrics".</li>
<li><a href="#SamFileValidator.ValidationMetrics">SamFileValidator.ValidationMetrics</a>: </li>
<li><a href="#TargetedPcrMetrics">TargetedPcrMetrics</a>: Metrics class for targeted pcr runs such as TSCA runs</li>
</ol>
<a id="AlignmentSummaryMetrics"
<h2>AlignmentSummaryMetrics</h2>
<p class="class_description">High level metrics about the alignment of reads within a SAM file, produced by
 the CollectAlignmentSummaryMetrics program and usually stored in a file with
 the extension ".alignment_summary_metrics".</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>CATEGORY: </span>One of either UNPAIRED (for a fragment run), FIRST_OF_PAIR when metrics are for only the
 first read in a paired run, SECOND_OF_PAIR when the metrics are for only the second read
 in a paired run or PAIR when the metrics are aggregated for both first and second reads
 in a pair.</div>
<div class="metric_column_def"><span>TOTAL_READS: </span>The total number of reads including all PF and non-PF reads. When CATEGORY equals PAIR
 this value will be 2x the number of clusters.</div>
<div class="metric_column_def"><span>PF_READS: </span>The number of PF reads where PF is defined as passing Illumina's filter.</div>
<div class="metric_column_def"><span>PCT_PF_READS: </span>The percentage of reads that are PF (PF_READS / TOTAL_READS)</div>
<div class="metric_column_def"><span>PF_NOISE_READS: </span>The number of PF reads that are marked as noise reads.  A noise read is one which is composed
 entirely of A bases and/or N bases. These reads are marked as they are usually artifactual and
 are of no use in downstream analysis.</div>
<div class="metric_column_def"><span>PF_READS_ALIGNED: </span>The number of PF reads that were aligned to the reference sequence. This includes reads that
 aligned with low quality (i.e. their alignments are ambiguous).</div>
<div class="metric_column_def"><span>PCT_PF_READS_ALIGNED: </span>The percentage of PF reads that aligned to the reference sequence. PF_READS_ALIGNED / PF_READS</div>
<div class="metric_column_def"><span>PF_ALIGNED_BASES: </span>The total number of aligned bases, in all mapped PF reads, that are aligned to the reference sequence.</div>
<div class="metric_column_def"><span>PF_HQ_ALIGNED_READS: </span>The number of PF reads that were aligned to the reference sequence with a mapping quality of
 Q20 or higher signifying that the aligner estimates a 1/100 (or smaller) chance that the
 alignment is wrong.</div>
<div class="metric_column_def"><span>PF_HQ_ALIGNED_BASES: </span>The number of bases aligned to the reference sequence in reads that were mapped at high
 quality.  Will usually approximate PF_HQ_ALIGNED_READS * READ_LENGTH but may differ when
 either mixed read lengths are present or many reads are aligned with gaps.</div>
<div class="metric_column_def"><span>PF_HQ_ALIGNED_Q20_BASES: </span>The subset of PF_HQ_ALIGNED_BASES where the base call quality was Q20 or higher.</div>
<div class="metric_column_def"><span>PF_HQ_MEDIAN_MISMATCHES: </span>The median number of mismatches versus the reference sequence in reads that were aligned
 to the reference at high quality (i.e. PF_HQ_ALIGNED READS).</div>
<div class="metric_column_def"><span>PF_MISMATCH_RATE: </span>The rate of bases mismatching the reference for all bases aligned to the reference sequence.</div>
<div class="metric_column_def"><span>PF_HQ_ERROR_RATE: </span>The percentage of bases that mismatch the reference in PF HQ aligned reads.</div>
<div class="metric_column_def"><span>PF_INDEL_RATE: </span>The number of insertion and deletion events per 100 aligned bases.  Uses the number of events
 as the numerator, not the number of inserted or deleted bases.</div>
<div class="metric_column_def"><span>MEAN_READ_LENGTH: </span>The mean read length of the set of reads examined.  When looking at the data for a single lane with
 equal length reads this number is just the read length.  When looking at data for merged lanes with
 differing read lengths this is the mean read length of all reads.</div>
<div class="metric_column_def"><span>READS_ALIGNED_IN_PAIRS: </span>The number of aligned reads whose mate pair was also aligned to the reference.</div>
<div class="metric_column_def"><span>PCT_READS_ALIGNED_IN_PAIRS: </span>The percentage of reads whose mate pair was also aligned to the reference.
 READS_ALIGNED_IN_PAIRS / PF_READS_ALIGNED</div>
<div class="metric_column_def"><span>BAD_CYCLES: </span>The number of instrument cycles in which 80% or more of base calls were no-calls.</div>
<div class="metric_column_def"><span>STRAND_BALANCE: </span>The number of PF reads aligned to the positive strand of the genome divided by the number of
 PF reads aligned to the genome.</div>
<div class="metric_column_def"><span>PCT_CHIMERAS: </span>The percentage of reads that map outside of a maximum insert size (usually 100kb) or that have
 the two ends mapping to different chromosomes.</div>
<div class="metric_column_def"><span>PCT_ADAPTER: </span>The percentage of PF reads that are unaligned and match to a known adapter sequence right from the
 start of the read.</div>
<a id="BaseDistributionByCycleMetrics"
<h2>BaseDistributionByCycleMetrics</h2>
<p class="class_description"></p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>READ_END: </span></div>
<div class="metric_column_def"><span>CYCLE: </span></div>
<div class="metric_column_def"><span>PCT_A: </span></div>
<div class="metric_column_def"><span>PCT_C: </span></div>
<div class="metric_column_def"><span>PCT_G: </span></div>
<div class="metric_column_def"><span>PCT_T: </span></div>
<div class="metric_column_def"><span>PCT_N: </span></div>
<a id="CollectWgsMetrics.WgsMetrics"
<h2>CollectWgsMetrics.WgsMetrics</h2>
<p class="class_description">Metrics for evaluating the performance of whole genome sequencing experiments.</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>GENOME_TERRITORY: </span>The number of non-N bases in the genome reference over which coverage will be evaluated.</div>
<div class="metric_column_def"><span>MEAN_COVERAGE: </span>The mean coverage in bases of the genome territory, after all filters are applied.</div>
<div class="metric_column_def"><span>SD_COVERAGE: </span>The standard deviation of coverage of the genome after all filters are applied.</div>
<div class="metric_column_def"><span>MEDIAN_COVERAGE: </span>The median coverage in bases of the genome territory, after all filters are applied.</div>
<div class="metric_column_def"><span>MAD_COVERAGE: </span>The median absolute deviation of coverage of the genome after all filters are applied.</div>
<div class="metric_column_def"><span>PCT_EXC_MAPQ: </span>The fraction of aligned bases that were filtered out because they were in reads with low mapping quality (default is < 20).</div>
<div class="metric_column_def"><span>PCT_EXC_DUPE: </span>The fraction of aligned bases that were filtered out because they were in reads marked as duplicates.</div>
<div class="metric_column_def"><span>PCT_EXC_UNPAIRED: </span>The fraction of aligned bases that were filtered out because they were in reads without a mapped mate pair.</div>
<div class="metric_column_def"><span>PCT_EXC_BASEQ: </span>The fraction of aligned bases that were filtered out because they were of low base quality (default is < 20).</div>
<div class="metric_column_def"><span>PCT_EXC_OVERLAP: </span>The fraction of aligned bases that were filtered out because they were the second observation from an insert with overlapping reads.</div>
<div class="metric_column_def"><span>PCT_EXC_CAPPED: </span>The fraction of aligned bases that were filtered out because they would have raised coverage above the capped value (default cap = 250x).</div>
<div class="metric_column_def"><span>PCT_EXC_TOTAL: </span>The total fraction of aligned bases excluded due to all filters.</div>
<div class="metric_column_def"><span>PCT_5X: </span>The fraction of bases that attained at least 5X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_10X: </span>The fraction of bases that attained at least 10X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_15X: </span>The fraction of bases that attained at least 15X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_20X: </span>The fraction of bases that attained at least 20X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_25X: </span>The fraction of bases that attained at least 25X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_30X: </span>The fraction of bases that attained at least 30X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_40X: </span>The fraction of bases that attained at least 40X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_50X: </span>The fraction of bases that attained at least 50X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_60X: </span>The fraction of bases that attained at least 60X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_70X: </span>The fraction of bases that attained at least 70X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_80X: </span>The fraction of bases that attained at least 80X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_90X: </span>The fraction of bases that attained at least 90X sequence coverage in post-filtering bases.</div>
<div class="metric_column_def"><span>PCT_100X: </span>The fraction of bases that attained at least 100X sequence coverage in post-filtering bases.</div>
<a id="DuplicationMetrics"
<h2>DuplicationMetrics</h2>
<p class="class_description">Metrics that are calculated during the process of marking duplicates
 within a stream of SAMRecords.</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>LIBRARY: </span>The library on which the duplicate marking was performed.</div>
<div class="metric_column_def"><span>UNPAIRED_READS_EXAMINED: </span>The number of mapped reads examined which did not have a mapped mate pair,
 either because the read is unpaired, or the read is paired to an unmapped mate.</div>
<div class="metric_column_def"><span>READ_PAIRS_EXAMINED: </span>The number of mapped read pairs examined.</div>
<div class="metric_column_def"><span>UNMAPPED_READS: </span>The total number of unmapped reads examined.</div>
<div class="metric_column_def"><span>UNPAIRED_READ_DUPLICATES: </span>The number of fragments that were marked as duplicates.</div>
<div class="metric_column_def"><span>READ_PAIR_DUPLICATES: </span>The number of read pairs that were marked as duplicates.</div>
<div class="metric_column_def"><span>READ_PAIR_OPTICAL_DUPLICATES: </span>The number of read pairs duplicates that were caused by optical duplication.
 Value is always < READ_PAIR_DUPLICATES, which counts all duplicates regardless of source.</div>
<div class="metric_column_def"><span>PERCENT_DUPLICATION: </span>The percentage of mapped sequence that is marked as duplicate.</div>
<div class="metric_column_def"><span>ESTIMATED_LIBRARY_SIZE: </span>The estimated number of unique molecules in the library based on PE duplication.</div>
<a id="ExtractIlluminaBarcodes.BarcodeMetric"
<h2>ExtractIlluminaBarcodes.BarcodeMetric</h2>
<p class="class_description">Metrics produced by the ExtractIlluminaBarcodes program that is used to parse data in
 the basecalls directory and determine to which barcode each read should be assigned.</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>BARCODE: </span>The barcode (from the set of expected barcodes) for which the following metrics apply.
 Note that the "symbolic" barcode of NNNNNN is used to report metrics for all reads that
 do not match a barcode.</div>
<div class="metric_column_def"><span>BARCODE_NAME: </span></div>
<div class="metric_column_def"><span>LIBRARY_NAME: </span></div>
<div class="metric_column_def"><span>READS: </span>The total number of reads matching the barcode.</div>
<div class="metric_column_def"><span>PF_READS: </span>The number of PF reads matching this barcode (always less than or equal to READS).</div>
<div class="metric_column_def"><span>PERFECT_MATCHES: </span>The number of all reads matching this barcode that matched with 0 errors or no-calls.</div>
<div class="metric_column_def"><span>PF_PERFECT_MATCHES: </span>The number of PF reads matching this barcode that matched with 0 errors or no-calls.</div>
<div class="metric_column_def"><span>ONE_MISMATCH_MATCHES: </span>The number of all reads matching this barcode that matched with 1 error or no-call.</div>
<div class="metric_column_def"><span>PF_ONE_MISMATCH_MATCHES: </span>The number of PF reads matching this barcode that matched with 1 error or no-call.</div>
<div class="metric_column_def"><span>PCT_MATCHES: </span>The percentage of all reads in the lane that matched to this barcode.</div>
<div class="metric_column_def"><span>RATIO_THIS_BARCODE_TO_BEST_BARCODE_PCT: </span>The rate of all reads matching this barcode to all reads matching the most prevelant barcode. For the
 most prevelant barcode this will be 1, for all others it will be less than 1 (except for the possible
 exception of when there are more orphan reads than for any other barcode, in which case the value
 may be arbitrarily large).  One over the lowest number in this column gives you the fold-difference
 in representation between barcodes.</div>
<div class="metric_column_def"><span>PF_PCT_MATCHES: </span>The percentage of PF reads in the lane that matched to this barcode.</div>
<div class="metric_column_def"><span>PF_RATIO_THIS_BARCODE_TO_BEST_BARCODE_PCT: </span>The rate of PF reads matching this barcode to PF reads matching the most prevelant barcode. For the
 most prevelant barcode this will be 1, for all others it will be less than 1 (except for the possible
 exception of when there are more orphan reads than for any other barcode, in which case the value
 may be arbitrarily large).  One over the lowest number in this column gives you the fold-difference
 in representation of PF reads between barcodes.</div>
<div class="metric_column_def"><span>PF_NORMALIZED_MATCHES: </span>The "normalized" matches to each barcode. This is calculated as the number of pf reads matching
 this barcode over the sum of all pf reads matching any barcode (excluding orphans). If all barcodes
 are represented equally this will be 1.</div>
<a id="GcBiasDetailMetrics"
<h2>GcBiasDetailMetrics</h2>
<p class="class_description">Class that holds detailed metrics about reads that fall within windows of a certain
 GC bin on the reference genome.</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>GC: </span>The G+C content of the reference sequence represented by this bin. Values are from 0% to 100%</div>
<div class="metric_column_def"><span>WINDOWS: </span>The number of windows on the reference genome that have this G+C content.</div>
<div class="metric_column_def"><span>READ_STARTS: </span>The number of reads whose start position is at the start of a window of this GC.</div>
<div class="metric_column_def"><span>MEAN_BASE_QUALITY: </span>The mean quality (determined via the error rate) of all bases of all reads that are assigned to windows of this GC.</div>
<div class="metric_column_def"><span>NORMALIZED_COVERAGE: </span>The ration of "coverage" in this GC bin vs. the mean coverage of all GC bins. A number of
 1 represents mean coverage, a number less than one represents lower than mean coverage (e.g. 0.5
 means half as much coverage as average) while a number greater than one represents higher than
 mean coverage (e.g. 3.1 means this GC bin has 3.1 times more reads per window than average).</div>
<div class="metric_column_def"><span>ERROR_BAR_WIDTH: </span>The radius of error bars in this bin based on the number of observations made. For example if
 the normalized coverage is 0.75 and the error bar width is 0.1 then the error bars would be
 drawn from 0.65 to 0.85.</div>
<a id="GcBiasSummaryMetrics"
<h2>GcBiasSummaryMetrics</h2>
<p class="class_description">High level metrics that capture how biased the coverage in a certain lane is.</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>WINDOW_SIZE: </span>The window size on the genome used to calculate the GC of the sequence.</div>
<div class="metric_column_def"><span>TOTAL_CLUSTERS: </span>The total number of clusters that were seen in the gc bias calculation.</div>
<div class="metric_column_def"><span>ALIGNED_READS: </span>The total number of aligned reads used to compute the gc bias metrics.</div>
<div class="metric_column_def"><span>AT_DROPOUT: </span>Illumina-style AT dropout metric.  Calculated by taking each GC bin independently and calculating
 (%ref_at_gc - %reads_at_gc) and summing all positive values for GC=[0..50].</div>
<div class="metric_column_def"><span>GC_DROPOUT: </span>Illumina-style GC dropout metric.  Calculated by taking each GC bin independently and calculating
 (%ref_at_gc - %reads_at_gc) and summing all positive values for GC=[50..100].</div>
<a id="HsMetrics"
<h2>HsMetrics</h2>
<p class="class_description">The set of metrics captured that are specific to a hybrid selection analysis.</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>BAIT_SET: </span>The name of the bait set used in the hybrid selection.</div>
<div class="metric_column_def"><span>GENOME_SIZE: </span>The number of bases in the reference genome used for alignment.</div>
<div class="metric_column_def"><span>BAIT_TERRITORY: </span>The number of bases which have one or more baits on top of them.</div>
<div class="metric_column_def"><span>TARGET_TERRITORY: </span>The unique number of target bases in the experiment where target is usually exons etc.</div>
<div class="metric_column_def"><span>BAIT_DESIGN_EFFICIENCY: </span>Target terrirtoy / bait territory.  1 == perfectly efficient, 0.5 = half of baited bases are not target.</div>
<div class="metric_column_def"><span>TOTAL_READS: </span>The total number of reads in the SAM or BAM file examine.</div>
<div class="metric_column_def"><span>PF_READS: </span>The number of reads that pass the vendor's filter.</div>
<div class="metric_column_def"><span>PF_UNIQUE_READS: </span>The number of PF reads that are not marked as duplicates.</div>
<div class="metric_column_def"><span>PCT_PF_READS: </span>PF reads / total reads.  The percent of reads passing filter.</div>
<div class="metric_column_def"><span>PCT_PF_UQ_READS: </span>PF Unique Reads / Total Reads.</div>
<div class="metric_column_def"><span>PF_UQ_READS_ALIGNED: </span>The number of PF unique reads that are aligned with mapping score > 0 to the reference genome.</div>
<div class="metric_column_def"><span>PCT_PF_UQ_READS_ALIGNED: </span>PF Reads Aligned / PF Reads.</div>
<div class="metric_column_def"><span>PF_UQ_BASES_ALIGNED: </span>The number of bases in the PF aligned reads that are mapped to a reference base. Accounts for clipping and gaps.</div>
<div class="metric_column_def"><span>ON_BAIT_BASES: </span>The number of PF aligned bases that mapped to a baited region of the genome.</div>
<div class="metric_column_def"><span>NEAR_BAIT_BASES: </span>The number of PF aligned bases that mapped to within a fixed interval of a baited region, but not on a baited region.</div>
<div class="metric_column_def"><span>OFF_BAIT_BASES: </span>The number of PF aligned bases that mapped to neither on or near a bait.</div>
<div class="metric_column_def"><span>ON_TARGET_BASES: </span>The number of PF aligned bases that mapped to a targeted region of the genome.</div>
<div class="metric_column_def"><span>PCT_SELECTED_BASES: </span>On+Near Bait Bases / PF Bases Aligned.</div>
<div class="metric_column_def"><span>PCT_OFF_BAIT: </span>The percentage of aligned PF bases that mapped neither on or near a bait.</div>
<div class="metric_column_def"><span>ON_BAIT_VS_SELECTED: </span>The percentage of on+near bait bases that are on as opposed to near.</div>
<div class="metric_column_def"><span>MEAN_BAIT_COVERAGE: </span>The mean coverage of all baits in the experiment.</div>
<div class="metric_column_def"><span>MEAN_TARGET_COVERAGE: </span>The mean coverage of targets that received at least coverage depth = 2 at one base.</div>
<div class="metric_column_def"><span>PCT_USABLE_BASES_ON_BAIT: </span>The number of aligned, de-duped, on-bait bases out of the PF bases available.</div>
<div class="metric_column_def"><span>PCT_USABLE_BASES_ON_TARGET: </span>The number of aligned, de-duped, on-target bases out of the PF bases available.</div>
<div class="metric_column_def"><span>FOLD_ENRICHMENT: </span>The fold by which the baited region has been amplified above genomic background.</div>
<div class="metric_column_def"><span>ZERO_CVG_TARGETS_PCT: </span>The number of targets that did not reach coverage=2 over any base.</div>
<div class="metric_column_def"><span>FOLD_80_BASE_PENALTY: </span>The fold over-coverage necessary to raise 80% of bases in "non-zero-cvg" targets to
 the mean coverage level in those targets.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_2X: </span>The percentage of ALL target bases achieving 2X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_10X: </span>The percentage of ALL target bases achieving 10X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_20X: </span>The percentage of ALL target bases achieving 20X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_30X: </span>The percentage of ALL target bases achieving 30X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_40X: </span>The percentage of ALL target bases achieving 40X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_50X: </span>The percentage of ALL target bases achieving 50X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_100X: </span>The percentage of ALL target bases achieving 100X or greater coverage.</div>
<div class="metric_column_def"><span>HS_LIBRARY_SIZE: </span>The estimated number of unique molecules in the selected part of the library.</div>
<div class="metric_column_def"><span>HS_PENALTY_10X: </span>The "hybrid selection penalty" incurred to get 80% of target bases to 10X. This metric
 should be interpreted as: if I have a design with 10 megabases of target, and want to get
 10X coverage I need to sequence until PF_ALIGNED_BASES = 10^7 * 10 * HS_PENALTY_10X.</div>
<div class="metric_column_def"><span>HS_PENALTY_20X: </span>The "hybrid selection penalty" incurred to get 80% of target bases to 20X. This metric
 should be interpreted as: if I have a design with 10 megabases of target, and want to get
 20X coverage I need to sequence until PF_ALIGNED_BASES = 10^7 * 20 * HS_PENALTY_20X.</div>
<div class="metric_column_def"><span>HS_PENALTY_30X: </span>The "hybrid selection penalty" incurred to get 80% of target bases to 30X. This metric
 should be interpreted as: if I have a design with 10 megabases of target, and want to get
 30X coverage I need to sequence until PF_ALIGNED_BASES = 10^7 * 30 * HS_PENALTY_30X.</div>
<div class="metric_column_def"><span>HS_PENALTY_40X: </span>The "hybrid selection penalty" incurred to get 80% of target bases to 40X. This metric
 should be interpreted as: if I have a design with 10 megabases of target, and want to get
 40X coverage I need to sequence until PF_ALIGNED_BASES = 10^7 * 40 * HS_PENALTY_40X.</div>
<div class="metric_column_def"><span>HS_PENALTY_50X: </span>The "hybrid selection penalty" incurred to get 80% of target bases to 50X. This metric
 should be interpreted as: if I have a design with 10 megabases of target, and want to get
 50X coverage I need to sequence until PF_ALIGNED_BASES = 10^7 * 50 * HS_PENALTY_50X.</div>
<div class="metric_column_def"><span>HS_PENALTY_100X: </span>The "hybrid selection penalty" incurred to get 80% of target bases to 100X. This metric
 should be interpreted as: if I have a design with 10 megabases of target, and want to get
 100X coverage I need to sequence until PF_ALIGNED_BASES = 10^7 * 100 * HS_PENALTY_100X.</div>
<div class="metric_column_def"><span>AT_DROPOUT: </span>A measure of how undercovered <= 50% GC regions are relative to the mean. For each GC bin [0..50]
 we calculate a = % of target territory, and b = % of aligned reads aligned to these targets.
 AT DROPOUT is then abs(sum(a-b when a-b < 0)). E.g. if the value is 5% this implies that 5% of total
 reads that should have mapped to GC<=50% regions mapped elsewhere.</div>
<div class="metric_column_def"><span>GC_DROPOUT: </span>A measure of how undercovered >= 50% GC regions are relative to the mean. For each GC bin [50..100]
 we calculate a = % of target territory, and b = % of aligned reads aligned to these targets.
 GC DROPOUT is then abs(sum(a-b when a-b < 0)). E.g. if the value is 5% this implies that 5% of total
 reads that should have mapped to GC>=50% regions mapped elsewhere.</div>
<a id="InsertSizeMetrics"
<h2>InsertSizeMetrics</h2>
<p class="class_description">Metrics about the insert size distribution of a paired-end library, created by the
 CollectInsertSizeMetrics program and usually written to a file with the extension
 ".insert_size_metrics".  In addition the insert size distribution is plotted to
 a file with the extension ".insert_size_Histogram.pdf".</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>MEDIAN_INSERT_SIZE: </span>The MEDIAN insert size of all paired end reads where both ends mapped to the same chromosome.</div>
<div class="metric_column_def"><span>MEDIAN_ABSOLUTE_DEVIATION: </span>The median absolute deviation of the distribution.  If the distribution is essentially normal then
 the standard deviation can be estimated as ~1.4826 * MAD.</div>
<div class="metric_column_def"><span>MIN_INSERT_SIZE: </span>The minimum measured insert size.  This is usually 1 and not very useful as it is likely artifactual.</div>
<div class="metric_column_def"><span>MAX_INSERT_SIZE: </span>The maximum measure insert size by alignment. This is usually very high representing either an artifact
 or possibly the presence of a structural re-arrangement.</div>
<div class="metric_column_def"><span>MEAN_INSERT_SIZE: </span>The mean insert size of the "core" of the distribution. Artefactual outliers in the distribution often
 cause calculation of nonsensical mean and stdev values.  To avoid this the distribution is first trimmed
 to a "core" distribution of +/- N median absolute deviations around the median insert size. By default
 N=10, but this is configurable.</div>
<div class="metric_column_def"><span>STANDARD_DEVIATION: </span>Standard deviation of insert sizes over the "core" of the distribution.</div>
<div class="metric_column_def"><span>READ_PAIRS: </span>The total number of read pairs that were examined in the entire distribution.</div>
<div class="metric_column_def"><span>PAIR_ORIENTATION: </span>The pair orientation of the reads in this data category.</div>
<div class="metric_column_def"><span>WIDTH_OF_10_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 10% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_20_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 20% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_30_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 30% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_40_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 40% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_50_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 50% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_60_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 60% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_70_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 70% of all read pairs.
 This metric divided by 2 should approximate the standard deviation when the insert size
 distribution is a normal distribution.</div>
<div class="metric_column_def"><span>WIDTH_OF_80_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 80% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_90_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 90% of all read pairs.</div>
<div class="metric_column_def"><span>WIDTH_OF_99_PERCENT: </span>The "width" of the bins, centered around the median, that encompass 100% of all read pairs.</div>
<a id="MultilevelMetrics"
<h2>MultilevelMetrics</h2>
<p class="class_description"></p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>SAMPLE: </span>The sample to which these metrics apply.  If null, it means they apply
 to all reads in the file.</div>
<div class="metric_column_def"><span>LIBRARY: </span>The library to which these metrics apply.  If null, it means that the
 metrics were accumulated at the sample level.</div>
<div class="metric_column_def"><span>READ_GROUP: </span>The read group to which these metrics apply.  If null, it means that
 the metrics were accumulated at the library or sample level.</div>
<a id="RnaSeqMetrics"
<h2>RnaSeqMetrics</h2>
<p class="class_description">Metrics about the alignment of RNA-seq reads within a SAM file to genes, produced by the CollectRnaSeqMetrics
 program and usually stored in a file with the extension ".rna_metrics".</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>PF_BASES: </span>The total number of PF bases including non-aligned reads.</div>
<div class="metric_column_def"><span>PF_ALIGNED_BASES: </span>The total number of aligned PF bases.  Non-primary alignments are not counted. Bases in aligned reads that
 do not correspond to reference (e.g. soft clips, insertions) are not counted.</div>
<div class="metric_column_def"><span>RIBOSOMAL_BASES: </span>Number of bases in primary aligments that align to ribosomal sequence.</div>
<div class="metric_column_def"><span>CODING_BASES: </span>Number of bases in primary aligments that align to a non-UTR coding base for some gene, and not ribosomal sequence.</div>
<div class="metric_column_def"><span>UTR_BASES: </span>Number of bases in primary aligments that align to a UTR base for some gene, and not a coding base.</div>
<div class="metric_column_def"><span>INTRONIC_BASES: </span>Number of bases in primary aligments that align to an intronic base for some gene, and not a coding or UTR base.</div>
<div class="metric_column_def"><span>INTERGENIC_BASES: </span>Number of bases in primary aligments that do not align to any gene.</div>
<div class="metric_column_def"><span>IGNORED_READS: </span>Number of primary alignments that map to a sequence specified on command-line as IGNORED_SEQUENCE.  These are not
 counted in PF_ALIGNED_BASES, CORRECT_STRAND_READS, INCORRECT_STRAND_READS, or any of the base-counting metrics.
 These reads are counted in PF_BASES.</div>
<div class="metric_column_def"><span>CORRECT_STRAND_READS: </span>Number of aligned reads that map to the correct strand.  0 if library is not strand-specific.</div>
<div class="metric_column_def"><span>INCORRECT_STRAND_READS: </span>Number of aligned reads that map to the incorrect strand.  0 if library is not strand-specific.</div>
<div class="metric_column_def"><span>PCT_RIBOSOMAL_BASES: </span>RIBOSOMAL_BASES / PF_ALIGNED_BASES</div>
<div class="metric_column_def"><span>PCT_CODING_BASES: </span>CODING_BASES / PF_ALIGNED_BASES</div>
<div class="metric_column_def"><span>PCT_UTR_BASES: </span>UTR_BASES / PF_ALIGNED_BASES</div>
<div class="metric_column_def"><span>PCT_INTRONIC_BASES: </span>INTRONIC_BASES / PF_ALIGNED_BASES</div>
<div class="metric_column_def"><span>PCT_INTERGENIC_BASES: </span>INTERGENIC_BASES / PF_ALIGNED_BASES</div>
<div class="metric_column_def"><span>PCT_MRNA_BASES: </span>PCT_UTR_BASES + PCT_CODING_BASES</div>
<div class="metric_column_def"><span>PCT_USABLE_BASES: </span>The percentage of bases mapping to mRNA divided by the total number of PF bases.</div>
<div class="metric_column_def"><span>PCT_CORRECT_STRAND_READS: </span>CORRECT_STRAND_READS/(CORRECT_STRAND_READS + INCORRECT_STRAND_READS).  0 if library is not strand-specific.</div>
<div class="metric_column_def"><span>MEDIAN_CV_COVERAGE: </span>The median CV of coverage of the 1000 most highly expressed transcripts. Ideal value = 0.</div>
<div class="metric_column_def"><span>MEDIAN_5PRIME_BIAS: </span>The median 5 prime bias of the 1000 most highly expressed transcripts, where 5 prime bias is calculated per
 transcript as: mean coverage of the 5' most 100 bases divided by the mean coverage of the whole transcript.</div>
<div class="metric_column_def"><span>MEDIAN_3PRIME_BIAS: </span>The median 3 prime bias of the 1000 most highly expressed transcripts, where 3 prime bias is calculated per
 transcript as: mean coverage of the 3' most 100 bases divided by the mean coverage of the whole transcript.</div>
<div class="metric_column_def"><span>MEDIAN_5PRIME_TO_3PRIME_BIAS: </span>The ratio of coverage at the 5' end of to the 3' end based on the 1000 most highly expressed transcripts.</div>
<a id="SamFileValidator.ValidationMetrics"
<h2>SamFileValidator.ValidationMetrics</h2>
<p class="class_description"></p>
<h3>Column Definitions</h3>
<a id="TargetedPcrMetrics"
<h2>TargetedPcrMetrics</h2>
<p class="class_description">Metrics class for targeted pcr runs such as TSCA runs</p>
<h3>Column Definitions</h3>
<div class="metric_column_def"><span>CUSTOM_AMPLICON_SET: </span>The name of the amplicon set used in this metrics collection run</div>
<div class="metric_column_def"><span>GENOME_SIZE: </span>The number of bases in the reference genome used for alignment.</div>
<div class="metric_column_def"><span>AMPLICON_TERRITORY: </span>The number of unique bases covered by the intervals of all amplicons in the amplicon set</div>
<div class="metric_column_def"><span>TARGET_TERRITORY: </span>The number of unique bases covered by the intervals of all targets that should be covered</div>
<div class="metric_column_def"><span>TOTAL_READS: </span>The total number of reads in the SAM or BAM file examine.</div>
<div class="metric_column_def"><span>PF_READS: </span>The number of reads that pass the vendor's filter.</div>
<div class="metric_column_def"><span>PF_BASES: </span>THe number of bases in the SAM or BAM file to be examined</div>
<div class="metric_column_def"><span>PF_UNIQUE_READS: </span>The number of PF reads that are not marked as duplicates.</div>
<div class="metric_column_def"><span>PCT_PF_READS: </span>PF reads / total reads.  The percent of reads passing filter.</div>
<div class="metric_column_def"><span>PCT_PF_UQ_READS: </span>PF Unique Reads / Total Reads.</div>
<div class="metric_column_def"><span>PF_UQ_READS_ALIGNED: </span>The number of PF unique reads that are aligned with mapping score > 0 to the reference genome.</div>
<div class="metric_column_def"><span>PF_SELECTED_PAIRS: </span>Tracks the number of read pairs that we see that are PF (used to calculate library size)</div>
<div class="metric_column_def"><span>PF_SELECTED_UNIQUE_PAIRS: </span>Tracks the number of unique PF reads pairs we see (used to calc library size)</div>
<div class="metric_column_def"><span>PCT_PF_UQ_READS_ALIGNED: </span>PF Reads Aligned / PF Reads.</div>
<div class="metric_column_def"><span>PF_UQ_BASES_ALIGNED: </span>The number of PF unique bases that are aligned with mapping score > 0 to the reference genome.</div>
<div class="metric_column_def"><span>ON_AMPLICON_BASES: </span>The number of PF aligned amplified that mapped to an amplified region of the genome.</div>
<div class="metric_column_def"><span>NEAR_AMPLICON_BASES: </span>The number of PF aligned bases that mapped to within a fixed interval of an amplified region, but not on a baited region.</div>
<div class="metric_column_def"><span>OFF_AMPLICON_BASES: </span>The number of PF aligned bases that mapped to neither on or near an amplicon.</div>
<div class="metric_column_def"><span>ON_TARGET_BASES: </span>The number of PF aligned bases that mapped to a targeted region of the genome.</div>
<div class="metric_column_def"><span>ON_TARGET_FROM_PAIR_BASES: </span>The number of PF aligned bases that are mapped in pair to a targeted region of the genome.</div>
<div class="metric_column_def"><span>PCT_AMPLIFIED_BASES: </span>On+Near Amplicon Bases / PF Bases Aligned.</div>
<div class="metric_column_def"><span>PCT_OFF_AMPLICON: </span>The percentage of aligned PF bases that mapped neither on or near an amplicon.</div>
<div class="metric_column_def"><span>ON_AMPLICON_VS_SELECTED: </span>The percentage of on+near amplicon bases that are on as opposed to near.</div>
<div class="metric_column_def"><span>MEAN_AMPLICON_COVERAGE: </span>The mean coverage of all amplicons in the experiment.</div>
<div class="metric_column_def"><span>MEAN_TARGET_COVERAGE: </span>The mean coverage of targets that recieved at least coverage depth = 2 at one base.</div>
<div class="metric_column_def"><span>FOLD_ENRICHMENT: </span>The fold by which the amplicon region has been amplified above genomic background.</div>
<div class="metric_column_def"><span>ZERO_CVG_TARGETS_PCT: </span>The number of targets that did not reach coverage=2 over any base.</div>
<div class="metric_column_def"><span>FOLD_80_BASE_PENALTY: </span>The fold over-coverage necessary to raise 80% of bases in "non-zero-cvg" targets to
 the mean coverage level in those targets.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_2X: </span>The percentage of ALL target bases achieving 2X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_10X: </span>The percentage of ALL target bases achieving 10X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_20X: </span>The percentage of ALL target bases achieving 20X or greater coverage.</div>
<div class="metric_column_def"><span>PCT_TARGET_BASES_30X: </span>The percentage of ALL target bases achieving 30X or greater coverage.</div>
<div class="metric_column_def"><span>AT_DROPOUT: </span>A measure of how undercovered <= 50% GC regions are relative to the mean. For each GC bin [0..50]
 we calculate a = % of target territory, and b = % of aligned reads aligned to these targets.
 AT DROPOUT is then abs(sum(a-b when a-b < 0)). E.g. if the value is 5% this implies that 5% of total
 reads that should have mapped to GC<=50% regions mapped elsewhere.</div>
<div class="metric_column_def"><span>GC_DROPOUT: </span>A measure of how undercovered >= 50% GC regions are relative to the mean. For each GC bin [50..100]
 we calculate a = % of target territory, and b = % of aligned reads aligned to these targets.
 GC DROPOUT is then abs(sum(a-b when a-b < 0)). E.g. if the value is 5% this implies that 5% of total
 reads that should have mapped to GC>=50% regions mapped elsewhere.</div>
