<a id="ReplaceSamHeader"/>
<h3>ReplaceSamHeader</h3>
<section>
<p>Replace the SAMFileHeader in a SAM file with the given header. Validation is minimal.  It is up to the user to ensure that all the elements referred to in the SAMRecords are present in the new header.  Sort order of the two input files must be the same.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>SAM file from which SAMRecords will be read.  Required. </td></tr>
<tr><td>HEADER (File)</td><td>SAM file from which SAMFileHeader will be read.  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>SAMFileHeader from HEADER file will be written to this file, followed by SAMRecords from INPUT file  Required. </td></tr>
</table>
</section>
