<a id="SamFormatConverter"/>
<h3>SamFormatConverter</h3>
<p>USAGE: SamFormatConverter [options]
<p>
<p>Documentation: http://broadinstitute.github.io/picard/command-line-overview.html#SamFormatConverter
<p>
<p>Convert a BAM file to a SAM file, or BAM to SAM.
<p>Input and output formats are determined by file extension.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT=File</td><td>The BAM or SAM file to parse.  Required. </td></tr>
<tr><td>OUTPUT=File</td><td>The BAM or SAM output file.   Required. </td></tr>
</table>
<br/>
