<a id="SortVcf"/>
<h3>SortVcf</h3>
<section>
<p>Sorts one or more VCF files according to the order of the contigs in the header/sequence dictionary and then by coordinate. Can accept an external sequence dictionary. If no external dictionary is supplied, multiple inputs' headers must have the same sequence dictionaries. Multiple inputs must have the same sample names (in order)
</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Input VCF(s) to be sorted. Multiple inputs must have the same sample names (in order)  Default value: null. This option may be specified 0 or more times. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output VCF to be written.  Required. </td></tr>
<tr><td>SEQUENCE_DICTIONARY (File)</td><td>Default value: null. </td></tr>
</table>
</section>
