<h3 id="SortVcf">SortVcf</h3>
<section>
<p>Sorts one or more VCF files.  This tool sorts the records in VCF files according to the order of the contigs in the header/sequence dictionary and then by coordinate. It can accept an external sequence dictionary. If no external dictionary is supplied, the VCF file headers of multiple inputs must have the same sequence dictionaries.<br /><br />If running on multiple inputs (originating from e.g. some scatter-gather runs), the input files must contain the same sample names in the same column order. <br /><h4>Usage example:</h4><pre>java -jar picard.jar SortVcf \<br />      I=vcf_1.vcf \<br />      I=vcf_2.vcf \<br />      O=sorted.vcf</pre><hr /></p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Input VCF(s) to be sorted. Multiple inputs must have the same sample names (in order)  Default value: null. This option may be specified 0 or more times. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output VCF to be written.  Required. </td></tr>
<tr><td>SEQUENCE_DICTIONARY (File)</td><td>Default value: null. </td></tr>
</table>
</section>
