<a id="SortSam"/>
<h3>SortSam</h3>
<section>
<p>Sorts the input SAM or BAM.
Input and output formats are determined by file extension.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>The BAM or SAM file to sort.  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>The sorted BAM or SAM output file.   Required. </td></tr>
<tr><td>SORT_ORDER (SortOrder)</td><td>Sort order of output file  Required. Possible values: {unsorted, queryname, coordinate, duplicate} </td></tr>
</table>
</section>
