<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>--help</td><td>Displays options specific to this tool.</td></tr>
<tr><td>--stdhelp</td><td>Displays options specific to this tool AND options common to all Picard command line tools.</td></tr>
<tr><td>--version</td><td>Displays program version.</td></tr>
<tr><td>TMP_DIR (File)</td><td>Default value: null. This option may be specified 0 or more times. </td></tr>
<tr><td>VERBOSITY (LogLevel)</td><td>Control verbosity of logging.  Default value: INFO. This option can be set to 'null' to clear the default value. Possible values: {ERROR, WARNING, INFO, DEBUG} </td></tr>
<tr><td>QUIET (Boolean)</td><td>Whether to suppress job-summary info on System.err.  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>VALIDATION_STRINGENCY (ValidationStringency)</td><td>Validation stringency for all SAM files read by this program.  Setting stringency to SILENT can improve performance when processing a BAM file in which variable-length data (read, qualities, tags) do not otherwise need to be decoded.  Default value: STRICT. This option can be set to 'null' to clear the default value. Possible values: {STRICT, LENIENT, SILENT} </td></tr>
<tr><td>COMPRESSION_LEVEL (Integer)</td><td>Compression level for all compressed files created (e.g. BAM and GELI).  Default value: 5. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>MAX_RECORDS_IN_RAM (Integer)</td><td>When writing SAM files that need to be sorted, this will specify the number of records stored in RAM before spilling to disk. Increasing this number reduces the number of file handles needed to sort a SAM file, and increases the amount of RAM needed.  Default value: 500000. This option can be set to 'null' to clear the default value. </td></tr>
<tr><td>CREATE_INDEX (Boolean)</td><td>Whether to create a BAM index when writing a coordinate-sorted BAM file.  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>CREATE_MD5_FILE (Boolean)</td><td>Whether to create an MD5 digest for any BAM or FASTQ files created.    Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>REFERENCE_SEQUENCE (File)</td><td>Reference sequence file.  Default value: null. </td></tr>
<tr><td>GA4GH_CLIENT_SECRETS (String)</td><td>Google Genomics API client_secrets.json file path.  Default value: client_secrets.json. This option can be set to 'null' to clear the default value. </td></tr>
</table>
