<a id="UpdateVcfSequenceDictionary"/>
<h3>UpdateVcfSequenceDictionary</h3>
<section>
<p>Takes a VCF and a second file that contains a sequence dictionary and updates the VCF with the new sequence dictionary.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>Input VCF  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>Output VCF to be written.  Required. </td></tr>
<tr><td>SEQUENCE_DICTIONARY (File)</td><td>A Sequence Dictionary (can be read from one of the following file types (SAM, BAM, VCF, BCF, Interval List, Fasta, or Dict)  Required. </td></tr>
</table>
</section>
