<a id="VcfFormatConverter"/>
<h3>VcfFormatConverter</h3>
<section>
<p>Convert a VCF file to a BCF file, or BCF to VCF.
Input and output formats are determined by file extension.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (File)</td><td>The BCF or VCF input file. The file format is determined by file extension.  Required. </td></tr>
<tr><td>OUTPUT (File)</td><td>The BCF or VCF output file. The file format is determined by file extension.  Required. </td></tr>
<tr><td>REQUIRE_INDEX (Boolean)</td><td>Fail if an index is not available for the input VCF/BCF  Default value: true. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
</table>
</section>
