<a id="ViewSam"/>
<h3>ViewSam</h3>
<section>
<p>Prints a SAM or BAM file to the screen.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT (String)</td><td>The SAM or BAM file or GA4GH url to view.  Required. </td></tr>
<tr><td>ALIGNMENT_STATUS (AlignmentStatus)</td><td>Print out all reads, just the aligned reads or just the unaligned reads.  Default value: All. This option can be set to 'null' to clear the default value. Possible values: {Aligned, Unaligned, All} </td></tr>
<tr><td>PF_STATUS (PfStatus)</td><td>Print out all reads, just the PF reads or just the non-PF reads.  Default value: All. This option can be set to 'null' to clear the default value. Possible values: {PF, NonPF, All} </td></tr>
<tr><td>HEADER_ONLY (Boolean)</td><td>Print the SAM header only.  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>RECORDS_ONLY (Boolean)</td><td>Print the alignment records only.  Default value: false. This option can be set to 'null' to clear the default value. Possible values: {true, false} </td></tr>
<tr><td>INTERVAL_LIST (File)</td><td>An intervals file used to restrict what records are output.  Default value: null. </td></tr>
</table>
</section>
