<a id="ViewSam"/>
<h3>ViewSam</h3>
<p>Prints a SAM or BAM file to the screen.</p>
<table>
<tr><th>Option</th><th>Description</th></tr>
<tr><td>INPUT=File</td><td>The SAM or BAM file to view.  Required. </td></tr>
<tr><td>ALIGNMENT_STATUS=AlignmentStatus</td><td>Print out all reads, just the aligned reads or just the unaligned reads.  Default value: All. This option can be set to 'null' to clear the default value. Possible values: {Aligned, Unaligned, All} </td></tr>
<tr><td>PF_STATUS=PfStatus</td><td>Print out all reads, just the PF reads or just the non-PF reads.  Default value: All. This option can be set to 'null' to clear the default value. Possible values: {PF, NonPF, All} </td></tr>
</table>
<br/>
