## htsjdk.samtools.metrics.StringHeader

## METRICS CLASS	picard.analysis.FingerprintingSummaryMetrics
READ_GROUP	SAMPLE	LL_EXPECTED_SAMPLE	LL_RANDOM_SAMPLE	LOD_EXPECTED_SAMPLE	HAPLOTYPES_WITH_GENOTYPES	HAPLOTYPES_CONFIDENTLY_CHECKED	HAPLOTYPES_CONFIDENTLY_MATCHING	HET_AS_HOM	HOM_AS_HET	HOM_AS_OTHER_HOM
	NA12892	-1.091976	-2.161962	1.069986	3	0	0	0	0	0


